{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <section id="login">
        {% include 'partials/flash-messages.html.twig' %}
        <div class="container">
            <div class="return">
                <a href="{{ path('home') }}" class="btn btn-warning"><i class="fas fa-home"></i></a>
            </div>
            <h1>Mot de passe oublié</h1>
            <hr>
            <div class="container-form col-lg-6">
                <form action="{{ path('mailer_password') }}" method="post">
                    <div class="form-group">
                        <label for="email">Votre adresse email</label>
                        <input type="email" required name="email" id="email" class="form-control"
                               placeholder="Adresse email ..." value="">
                    </div>
                    <div class="submit">
                        <button type="submit" class="btn btn-success">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}