{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% form_theme formPasswordModify 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <section id="registration">
        <div class="container">
            <h1>Réinitialiser votre mot de passe</h1>
            <hr>
            <div class="container-form col-lg-6">
                {{ form_start(formPasswordModify, {'attr' : {'class':'flex-column'}}) }}
                {{ form_row(formPasswordModify.newPassword, {'label':'Votre nouveau mot de passe', 'attr' : {'placeholder':'nouveau mot de passe ...'}}) }}
                {{ form_row(formPasswordModify.confirmNewPassword, {'label':'Confirmation de votre nouveau mot de passe', 'attr' : {'placeholder':'répétez votre nouveau mot de passe ...'}}) }}
                <div class="submit">
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
                {{ form_end(formPasswordModify) }}
            </div>
        </div>
    </section>

{% endblock %}