{% extends 'base.html.twig' %}

 {% block body %}
<div class="container">
    <h2 class="text-center">Salut {{ app.user.username() }} ! Vous avez {{ photos|length }} photos :</h2>

    {% for photo in photos %}
        <div class="mr-1" style="height: 10em; display: inline-block">
            <img src="{{ ('uploads/images/' ~ photo.file) }}" alt="" class="h-100">
        </div>
    {% endfor %}


</div>
{% endblock %}