{% extends 'base.html.twig' %}

{% block body %}

    <section id="home-welcome">
        <div class="container">
            <h1>TRIPHOTOS</h1>
            <h2>Triez vos photos pour mieux en profiter !</h2>
        </div>
    </section>




{% endblock %}