{% extends 'base.html.twig' %}

{% block body %}

    <div class="container welcome-container my-5 p-5 text-center text-light bg-dark">
        <h1>TRIPHOTOS</h1>
        </div>
    </div>



{% endblock %}