<footer>
    <div class="container-fluid row">
        <div class="footer-links">
            <ul>
                <li><a href="">Comment ça marche ?</a></li>
                <li><a href="">Conditions générales d'utilisation</a></li>
                <li><a href="">Nous contacter</a></li>
                <li><a href="">Admin</a></li>
            </ul>
        </div>
        <div class="footer-rs">
            <ul class="rs-links">
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-copyright">
            <p>© Tristan Dalle</p>
            <small>Projet étudiant OpenClassrooms DWJ</small>
        </div>
    </div>
</footer>