{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {{ form_start(formPhoto) }}
    {{ form_label(formPhoto, null, {
        'label': 'Choisissez une photo'
    }) }}
    {{ form_row(formPhoto.file) }}
    <button class="btn btn-success">Valider</button>
    {{ form_end(formPhoto) }}
</div>
{% endblock %}