{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <h2>Stats</h2>
            <p><a href="{{ path('members_admin') }}">{{ users|length }} membres</a></p>
            <p>{{ photos|length }} photos uploadées</p>
            <p>{{ albums|length }} albums créés</p>
        </div>

    </section>

{% endblock %}