@import "variables";

#add-album {
  background: no-repeat center url("../../public/images/bg-album.jpg");
  background-size: cover;

  .container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.25rem;

    .submit {
      .btn {
        width: 20rem;
        margin-top: 2rem;

        @media all and (max-width: $sm) {
          width: 100%;
        }
      }
    }
  }
}