@import "variables";
#admin {
  background-color: lightgrey;

  nav {
    background-color: grey;
    color: $color-warning;

    h1 {
      font-family: 'Luckiest Guy', cursive;
    }

    a{
      margin-left: auto;

      &.btn {
        color: #FFF;

        &:hover {
          font-weight: normal;
        }
      }

      &:hover {
        font-weight: bolder;
      }

      svg {
        margin-right: 0.3rem;
      }
    }

  }

  section {
    .container,
    .container-fluid {
      background-color: grey;
      padding: 2rem;

      h2 {
        font-family: 'Luckiest Guy', cursive;
        text-align: center;
      }

      table {
        background-color: grey;

        tr {
          &:hover {
            background-color: #000;
          }

          td {
            .miniature {
              height: 4rem;

              &:hover + .preview{
                opacity: 1;
              }
            }

            .preview {
              position: absolute;
              opacity: 0;
              transition: visibility 0s, opacity 0.5s linear;
            }

            a {
              &.trash {
                color: #FFF;

                &:hover {
                  color: $color-danger;
                }
              }
            }
          }
        }
      }

      .modal-title {
        color: #FFF;
      }

      .modal-body {
        text-align: right;

          .form-group {
            text-align: left;

            label {
              color: #FFF;
            }

            input {
              width: 100%;
            }

            textarea {
              width: 100%;
            }
          }
      }
    }
  }
}