@import "variables";

#all-albums {
  background: no-repeat center url("../../public/images/bg-album.jpg");
  background-size: cover;

  .container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25rem;

    h1 {
      color: $primary;
      margin-bottom: 1rem;
    }

    p {
      color: $primary;
      margin-bottom: 2rem;
    }

    .card-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .card {
        width: 20rem;
        border: none;
        border-radius: 0;
        box-shadow: 0 0 0 0.1rem #000;
        margin-bottom: 2rem;

        @media (max-width: $lg) {
          width: 30rem;
        }

        .empty-album, .cover-album {
          max-width: 100%;
          height: 13.3rem;
          background-color: #000;

          a {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            svg {
              font-size: 3em;
            }

            img {
              width: inherit;
              max-width: 20rem;
              height: 13.3rem;
              margin: auto;
            }

            .card-img-top {
              border-radius: 0;
            }
          }
        }

        .card-body {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: #000;

          h5 {
            text-align: center;
            color: #FFF;

            span {
              color: #aaa;
            }

            i, svg {
              margin-left: 1rem;
              color: $star;
            }
          }

          .card-number {
            margin-bottom: 0;
          }

          .card-text {
            color: inherit;
          }
        }

        &.card_shared {
          box-shadow: 0px 0px 4px 2px $star;
        }
      }
    }

    .carousel-item {
      background-color: #000;
      img {
        height: 13.3rem;
        margin: auto;
      }
    }

    .card-buttons {
      display: flex;
      justify-content: space-between;
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      .btn {
        width: 20rem;
        margin: auto;
      }
    }

    .loader {
      height: 13.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      ///////
      .lds-roller {
        //display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 32px 32px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $primary;
        margin: -3px 0 0 -3px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 50px;
        left: 50px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 54px;
        left: 45px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 57px;
        left: 39px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 58px;
        left: 32px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 57px;
        left: 25px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 54px;
        left: 19px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 50px;
        left: 14px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 45px;
        left: 10px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}