@import "variables";

html {
  height: 100%;

  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: $gray-400;

    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1 0 auto;
      margin-top: 7rem;
      padding: 2rem 0;
    }

    footer {
      flex-shrink: 0;
    }

    .modal-content {
      background-color: $secondary;

      span {
        color: #FFF;
      }
      .modal-body {
        text-align: right;

        p {
          color: #FFF;
          text-align: left;
        }

        .form-group {
          text-align: left;

          label {
            color: #FFF;
          }

          input {
            width: 100%;
          }

          textarea {
            width: 100%;
          }
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #FFF;
  text-align: center;
  margin-bottom: 2rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;

  nav {
    &.navbar {
      padding: 1rem 3rem;

      .navbar-brand {
        font-family: $Luckiest, cursive;
        font-size: 3em;
        color: $primary;

        @media all and (max-width: $lg) {
          padding-left: 56px;
        }

        &:hover {
          span {
            color: $primary;
          }
        }

        span {
          transition: color ease-in-out .2s;
          color: #FFF;
        }

        @media all and (max-width: $lg) {
          margin: auto;
        }
      }

      .icon-user {
        font-size: 1.2em;
        transition: color ease-in-out .2s;

        &.active {
          color: $primary;
        }
      }

      .navbar-nav {
        width: 100%;
        align-items: center;

        @media all and (max-width: $lg) {
          align-items: flex-end;
        }

        .connexion {
          margin-left: auto;

          @media all and (max-width: $lg) {
            margin-left: initial;
          }
        }

        .deconnexion-mobile {
          display: none;

          @media all and (max-width: $lg) {
            display: block;
          }
        }

        .nav-item.dropdown {
          margin-left: auto;
          font-size: 1.2em;

          @media all and (max-width: $lg) {
            display: none;
          }

          #navbarDropdown {
            color: $primary;

            &:hover {
              color: #FFF;

              .icon-user {
                color: #FFF;
              }
            }
          }
        }

        .btn-deconnexion {
          text-align: center;
          color: #FFF;
          right: 0;
          left: inherit;
        }
      }
    }
  }
}

section {
  .container {
    padding: 2rem;
    text-align: center;

    @media all and (max-width: $lg) {
      min-width: 100%;
    }

    .return {
      text-align: left;
    }

    span {
      color: $info;

      &.form-error-message,
      &.form-error-icon {
        color: #FFF;
      }
    }

    strong {
      font-family: 'Luckiest Guy', cursive;
    }

    hr {
      border-color: $info;
    }

    .container-form {
      margin: auto;
    }
  }

  #flash-message {
    &.alert-success {
    }
    span {
      color: #FFF;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
  }
}

footer {
  background-image: linear-gradient(#bfbfbf, #999 50%, #8f8f8f);
  padding: 1rem 3rem;

  .row {
    justify-content: space-around;

    @media all and (max-width: $lg) {
      flex-direction: column;
      text-align: center;
    }

    ul {
      padding: 0;

      li {
        list-style: none;
      }

      #ContactModalCenter {
        .modal-body {
          text-align: right;

          .form-group {
            text-align: left;

            input {
              width: 100%;
            }

            textarea {
              width: 100%;
            }
          }
        }
      }

      &.rs-links {
        display: flex;
        height: 100%;
        align-items: center;

        @media all and (max-width: $lg) {
          justify-content: center;
        }

        a {
          &:hover {
            color: $info;
          }

          i, svg {
            font-size: 3em;
            margin: 0 1rem;
          }
        }
      }
    }
    a {
      color: #FFF;

      &:hover {
        text-decoration: none;
        color: #000;
      }
    }

    .footer-copyright {
      color: $primary;
    }
  }
}


