@import url('./bootstrap.min.css');
@import "variables";

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;

  nav {
    background-color: $color-container;

    &.navbar {
      padding: 1rem 3rem;

      .navbar-brand {
        font-family: 'Luckiest Guy', cursive;
        font-size: 2em;
      }

      .navbar-nav {
        width: 100%;
        align-items: center;

        .connexion {
          margin-left: auto;

          @media (max-width: 991px) {
            margin-left: initial;
          }
        }

        .dropdown {
          margin-left: auto;

          @media (max-width: 991px) {
            margin-left: initial;
          }

          .nav-link {
            font-size: 1.5em;
            font-weight: bold;
            color: $color-success;
          }

          .dropdown-menu {
            left: initial;
            right: 0;
          }
        }
      }
    }


  }
}

section {
  margin: 10rem auto;

  .container {
    padding: 2rem;
    background-color: #272B30;
    text-align: center;

    .return {
      text-align: left;
    }

    h1 {
      text-align: center;
      color: #FFF;
      margin-bottom: 2rem;

      span {
        color: #FFF;
      }
    }

    a {
      color: #FFF;
    }

    span{
      color: #3498db;
    }

    strong {
      font-family: 'Luckiest Guy', cursive;
      color: #3498db;
    }

    hr {
      border-color: #3498db;
    }

    .container-form {
      margin: auto;
    }

    .container-section {
      padding: 2rem;
    }
  }

  #flash-message {
    &.alert-success {
      background-color: $color-success;
    }
    span {
      color: #FFF;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
  }
}



footer {
  background-color: $color-container;
  padding: 1rem 3rem;

  .row {
    justify-content: space-around;

    ul {
      padding: 0;

      li {
        list-style: none;
      }

      #ContactModalCenter {
        .modal-body {
          text-align: right;

          .form-group {
            text-align: left;

            input {
              width: 100%;
            }

            textarea {
              width: 100%;
            }
          }
        }
      }

      &.rs-links{
        display: flex;
        height: 100%;
        align-items: center;

        i{
          font-size: 3em;
          margin: 0 1rem;
        }
      }
    }
    a {
      color: #FFF;

      &:hover {
        color: $color-success;
      }
    }


  }
}


