@import "variables";

#home {
  //background-photos: url("../../public/images/bg-home-web.png");
  //background-size: cover;
  background: #000;

  .container {
    margin: 5rem auto;

    h1 {
      font-family: $Luckiest, cursive;
    }

    h2 {
      font-weight: bold;
    }

    .container-section {
      margin-top: 2rem;

      a.btn {
        font-size: 1.5em;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 2rem;

      li {
        font-size: 2em;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;

      @media all and (max-width: $lg) {
        flex-direction: column;
        align-items: center;
      }

      .btn {
        width: 20rem;

        @media all and (max-width: $lg) {
          margin-bottom: 2rem;
        }
      }
    }
  }
}