@import "variables";

#construction {
  background: no-repeat center url("../../public/images/construction.png");
  background-size: contain;
}

#error {
  background-color: #000;

  .container {
    border-radius: 0.25rem;

    h1 {
      color: $primary;
    }
  }
}

#home {
  background: no-repeat center url("../../public/images/bg-home.jpg");
  background-size: cover;

  .container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.25rem;

    &.alert-success {
      background-color: #d8f0d3;;
    }

    &.alert-danger {
      background-color: #f5cccc;
    }

    h1 {
      font-family: $Luckiest, cursive;
    }

    h2 {
      font-weight: bold;
    }

    .container-section {
      margin-top: 2rem;

      a.btn {
        font-size: 1.5em;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 2rem;

      li {
        font-size: 2em;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;

      @media all and (max-width: $lg) {
        flex-direction: column;
        align-items: center;
      }

      .btn {
        width: 20rem;

        @media all and (max-width: $lg) {
          margin-bottom: 2rem;
        }

        @media all and (max-width: $xl) and (min-width: $lg){
          width: 15rem;
        }

        @media all and (max-width: $sm) {
          width: 100%;
        }
      }
    }
  }
}