#home-welcome {
  h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 5em;
    a {
      color: #3498db;
      text-decoration: none;
    }

  }

  h2 {
    margin-bottom: 2rem;
  }

  .btn {
    width: 20rem;
    }

}