@import "variables";

#login {
  background: no-repeat center url("../../public/images/bg-login.jpg");
  background-size: cover;

  .container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.25rem;

    &.alert-success {
      background-color: #d8f0d3;;
    }

    &.alert-danger {
      background-color: #f5cccc;
    }

    small {
      display: block;
      text-align: right;

      a {
        color: $gray-400;
      }
    }

    .submit {
      .btn {
        width: 20rem;
        margin-top: 2rem;

        @media all and (max-width: $sm) {
          width: 100%;
        }
      }
    }

    .container-section {
      label {
        display: block;
        margin-top: 2rem;
      }
    }
  }
}