#one-photo {
  .container {
    .container-one-photo {
      height: 30rem;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      img{
        height: 100%;
      }
    }

    p {
      text-align: left;
    }

    .buttons{
      display: flex;
      justify-content: space-between;

      form {
        label {
          vertical-align: middle;
        }

        select {
          height: 100%;
        }

        .btn {
          height: 100%;
          vertical-align: baseline;
        }
      }
    }
  }
}