@import "variables";

#one-photo {
  background: no-repeat center url("../../public/images/bg-carousel.jpg");
  background-size: cover;

  .container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25rem;

    .return {
      margin-bottom: 2rem;
    }

    .diaporama-header {
      h1 {
        color: $primary;
        margin-bottom: 1rem;
      }

      p {
        color: $primary;
        margin-bottom: 2rem;
      }
    }

    .carousel-item {
      background-color: #000;
      padding: 5rem 0;

      p {
        text-align: center;
      }

      img {
        height: 30rem;
        margin: auto;

        @media all and (max-width: $lg) {
          height: 20rem;
        }

        @media all and (max-width: $md) {
          height: 15rem;
        }

        @media all and (max-width: $sm) {
          height: 10rem;
        }
      }

      .rating {
        margin: 1rem 0;

        a {
          color: gray;

          &.active {
            color: $star;
          }

          &.hover {
            color: $star;
          }
        }
      }

      .edition {
        display: flex;
        justify-content: space-evenly;
      }
    }

    .container-one-photo {
      position: relative;
      height: 30rem;
      display: flex;
      justify-content: center;
      margin: 2rem 0;

      .rating {
        position: absolute;
        right: 0;

        a {
          color: $warning;
        }
      }

      img {
        height: 100%;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      form {
        label {
          vertical-align: middle;
        }

        select {
          height: 100%;
        }

        .btn {
          height: 100%;
          vertical-align: baseline;
        }
      }
    }
  }
}