@import "variables";

#one-album {
  background: no-repeat center url("../../public/images/bg-photo.jpg");
  background-size: cover;

  @media (max-width: $lg) {
    padding: 0;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25rem;

    &.alert-success {
      background-color: #d8f0d3;;
    }

    &.alert-danger {
      background-color: #f5cccc;
    }

    h1 {
      color: $primary;
      margin-bottom: 1rem;
    }

    p {
      color: $primary;
      margin-bottom: 2rem;
    }

    .container-photos {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .hide {
        display: none;
      }

      .container-photo {
        height: 10rem;
        width: 15rem;
        margin-bottom: 2rem;
        border: solid 1px #000;
        box-shadow: 0 0 0 0.1rem #000;
        background-color: #000;
        overflow: hidden;

        @media (max-width: $lg) {
          height: 30rem;
          width: 45rem;
          margin: auto;
          margin-bottom: 2rem;
        }

        img {
          height: 100%;
        }

        .link-container-photo {
          position: relative;
          z-index: 2;
        }

        .hover-photo {
          display: none;
          position: relative;
          height: 100%;
          bottom: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 3;

          @media (max-width: $lg) {
            display: block;
            background: none;
            font-size: 2em;
          }

          .original-name {
            text-align: left;
            color: #FFF;
            text-shadow: 2px 2px 2px #000;
            max-width: 75%;
            margin-left: 0.5rem;
            white-space: nowrap;
            overflow: hidden;

            &:hover {
              white-space: normal;
            }
          }

          a.link-photo {
            display: block;
            height: 100%;
          }

          a.link-remove-photo {
            position: absolute;
            display: flex;
            bottom: 0.5rem;
            right: 0.5rem;
            height: 2rem;
            width: 2rem;
            align-items: center;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, .2);
            text-decoration: none;

            @media (max-width: $lg) {
              height: 4rem;
              width: 4rem;
            }

            i, svg {
              color: #FFF;
              margin: auto;
            }

            &:hover {
              i, svg {
                color: $danger;
              }
            }
          }

          a.link-send-photo {
            position: absolute;
            display: flex;
            top: 0.5rem;
            right: 0.5rem;
            height: 2rem;
            width: 2rem;
            align-items: center;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, .2);
            text-decoration: none;

            @media (max-width: $lg) {
              height: 4rem;
              width: 4rem;
            }

            i, svg {
              color: #FFF;
              margin: auto;
            }

            &:hover {
              svg {
                color: $info;
              }
            }
          }

          .rating {
            position: absolute;
            bottom: 0.5rem;
            left: 0.5rem;

            a {
              color: $star;

              &:hover {
                color: $warning;
              }
            }
          }

          &.hover-photo-album-shared {
            a {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;

              &.download-photo {
                position: absolute;
                top: inherit;
                right: 0.5rem;
                bottom: 0.5rem;
                left: inherit;
                display: flex;
                height: 2rem;
                width: 2rem;
                align-items: center;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, .2);

                i, svg {
                  margin: auto;
                  color: #FFF;
                }
              }
            }
          }
        }

        .loader {
          position: relative;
          height: 100%;
          bottom: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
          ///////
          .lds-roller {
            //display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
          }
          .lds-roller div {
            animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            transform-origin: 32px 32px;
          }
          .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $primary;
            margin: -3px 0 0 -3px;
          }
          .lds-roller div:nth-child(1) {
            animation-delay: -0.036s;
          }
          .lds-roller div:nth-child(1):after {
            top: 50px;
            left: 50px;
          }
          .lds-roller div:nth-child(2) {
            animation-delay: -0.072s;
          }
          .lds-roller div:nth-child(2):after {
            top: 54px;
            left: 45px;
          }
          .lds-roller div:nth-child(3) {
            animation-delay: -0.108s;
          }
          .lds-roller div:nth-child(3):after {
            top: 57px;
            left: 39px;
          }
          .lds-roller div:nth-child(4) {
            animation-delay: -0.144s;
          }
          .lds-roller div:nth-child(4):after {
            top: 58px;
            left: 32px;
          }
          .lds-roller div:nth-child(5) {
            animation-delay: -0.18s;
          }
          .lds-roller div:nth-child(5):after {
            top: 57px;
            left: 25px;
          }
          .lds-roller div:nth-child(6) {
            animation-delay: -0.216s;
          }
          .lds-roller div:nth-child(6):after {
            top: 54px;
            left: 19px;
          }
          .lds-roller div:nth-child(7) {
            animation-delay: -0.252s;
          }
          .lds-roller div:nth-child(7):after {
            top: 50px;
            left: 14px;
          }
          .lds-roller div:nth-child(8) {
            animation-delay: -0.288s;
          }
          .lds-roller div:nth-child(8):after {
            top: 45px;
            left: 10px;
          }
          @keyframes lds-roller {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }

      .container-photo:hover .hover-photo {
        display: block;
      }

      .SendFileModal {
        .modal-body {
          text-align: right;

          .form-group {
            text-align: left;

            input {
              width: 100%;
            }

            textarea {
              width: 100%;
            }
          }
        }
      }

      #SliderModalCenter {
        .modal-dialog {
          @media (min-width: 576px) {
            max-width: 50%;
          }
          h5 {
            width: 100%;
          }
        }
      }
    }

    .filter {
      color: $primary;

      i, svg {
        color: $star;

        &.drunk {
          color: gray;

          &:hover {
            color: $warning;
          }
        }

        &.fa-filter {
          color: $danger;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      @media (max-width: $lg) {
        flex-direction: column;
        justify-content: center;
      }

      .btn {
        width: 20rem;
        margin: 1rem auto;
      }
    }
  }
}