@import "variables";
#one-album-all-photos {
  .container {

    .return {
      margin-bottom: 2rem;
    }

    .album-header {
      p{
        text-align: center;
      }

    }

    .carousel-item {
      background-color: black;
      padding: 5rem 0;
      margin-top: 2rem;

      p {
        text-align: center;
      }

      img {
        height: 30rem;
        margin: auto;
      }

      .rating {
        margin-top: 1rem;

        a {
          color: $color-warning;
        }
      }

      .edition {
        display: flex;
        justify-content: space-evenly;
      }
    }

    .container-one-photo {
      position: relative;
      height: 30rem;
      display: flex;
      justify-content: center;
      margin: 2rem 0;

      .rating {
        position: absolute;
        right: 0;

        a {
          color: $color-warning;
        }
      }

      img{
        height: 100%;
      }
    }

    p {
      text-align: left;
    }

    .buttons{
      display: flex;
      justify-content: space-between;

      form {
        label {
          vertical-align: middle;
        }

        select {
          height: 100%;
        }

        .btn {
          height: 100%;
          vertical-align: baseline;
        }
      }
    }
  }
}