{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(formAlbum) }}
        {{ form_widget(formAlbum) }}
        <button type="submit" class="btn btn-success">Valider</button>
        {{ form_end(formAlbum) }}
    </div>
{% endblock %}