<h3><b>{{ name }}</b>, tu as oublié ton mot de passe ?</h3>

<p>Ca arrive même au meilleur ! Tu peux dès maintenant te <a href="{{absolute_url(path('security_replace_password', {'id': user.id, 'token': user.PasswordToken}))}}"><b>créer un nouveau mot de passe !</b></a></p>
<small>Attention, par mesure de sécurité ce lien est valable 10 minutes et fonctionnera une seule fois.</small>
<p>N'hésite pas à nous <a href="mailto:triphoto.contact@gmail.com">contacter</a></p>
<p>A bientôt</p>

<p>L'équipe <a href="{{ absolute_url(path('home')) }}"><b>Triphotos</b></a></p>

