<h3>Arf <b>{{ name }}</b>, ton compte a été supprimé...</h3>

<p>Tu peux dès maintenant en <a href="{{ path('home_welcome') }}"><b>créer un nouveau !</b></a></p>
<p>N'hésite pas à nous <a href="">contacter</a></p>
<p>A bientôt</p>

<p>L'équipe <a href="{{ path('home_welcome') }}"><b>Triphotos</b></a></p>

