<h3>Arf <b>{{ name }}</b>, ton compte a été supprimé...</h3>

<p>Tu peux dès maintenant en <a href="{{ absolute_url(path('home')) }}"><b>créer un nouveau !</b></a></p>
<p>N'hésite pas à nous <a href="mailto:triphoto.contact@gmail.com">contacter</a></p>
<p>A bientôt</p>

<p>L'équipe <a href="{{ absolute_url(path('home')) }}"><b>Triphotos</b></a></p>

