<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TriPhotos{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
            {#<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">#}
        {% endblock %}
    </head>
    <body class="bg-secondary">
        {% include 'partials/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'partials/footer.html.twig' %}

        {% block javascripts %}
            <script src="/build/runtime.js"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
