{% extends 'base.html.twig' %}

{% block title %}utilisateur non authentifié{% endblock %}

{% block body %}
    <section id="error">
        <div class="container alert-primary">
            <h1>Qui êtes vous ? erreur {{ status_code }}, vous ne pouvez pas afficher cette page !</h1>
            <p>Vous ne pouvez pas voir les photos qui ne sont pas rattachées à votre compte...</p>
            <a href="{{ path('home') }}" class="btn btn-primary"><i class="fas fa-home"></i> retourner à la page d'accueil</a>
        </div>
    </section>
{% endblock %}